@inject ContactApiService ContactApiService

<h1>@Contact.AssociatedUser.Name</h1>

@foreach(var message in Contact.Chat.Messages)
{
	<h4>@message.Content</h4>
}

<input type="text" @bind="Message" />
<button @onclick="() => OnSendMessage.InvokeAsync(new SendMessageModel(Contact.ChatId, Message))">Send</button>


@code {
    [Parameter]
    public Contact Contact { get; set; }

	[Parameter]
	public EventCallback<SendMessageModel> OnSendMessage { get; set; }

	private string Message { get; set; } = string.Empty;
}
