
<div class="create-group">
  <h3>Create Group</h3>
  <input type="text" @bind="Name" placeholder="Enter Group Name" class="form-input" />
  <input type="text" @bind="UniqueIdentifier" placeholder="Enter Unique Identifier" class="form-input" />
  <button @onclick="CreateGroup" class="btn-primary">Create</button>
</div>



@code {
	[Parameter]
	public EventCallback<GroupCreateDto> OnCreateGroup { get; set; }

	public string Name { get; set; } = string.Empty;
	public string UniqueIdentifier { get; set; } = string.Empty;

	private async Task CreateGroup()
	{
		if (string.IsNullOrEmpty(Name) || string.IsNullOrEmpty(UniqueIdentifier)) return;
		await OnCreateGroup.InvokeAsync(new GroupCreateDto(Name, UniqueIdentifier));
	}
}
