<h1>@GroupId</h1>

<input type="text" @bind="Message" />
<button @onclick="SendMessage">Send</button>

@code {

    [Parameter]
    public int GroupId { get; set; }

    private string Message { get; set; }

    public void SendMessage()
    {
        
    }
}
