

<h1>@Group.Name</h1>

@foreach (var message in Group.Chat.Messages)
{
	<div>@message.Content</div>
}


<input type="text" @bind="Message" />
<button @onclick="SendMessage">Send</button>


@code {

    [Parameter]
    public Group Group { get; set; }

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
	public EventCallback<MessegeStorageModel> OnSendMessage { get; set; }

    private string Message { get; set; }

	protected override void OnInitialized()
	{
		Group.Chat.Messages = Group.Chat.Messages.OrderByDescending(m => m.Date).ToList();
	}

	private async Task SendMessage()
	{
		Group.Chat.Messages.Add(new Message()
			{
				Content = Message,
				UserId = UserId,
				ChatId = Group.ChatId,
				Date = DateTime.Now
			});
		await OnSendMessage.InvokeAsync(new MessegeStorageModel(UserId, Group.ChatId, Message, nameof(Group)));
		Message = string.Empty;
	}
}
