@inject ContactApiService ContactApiService
@inject ChatApiService ChatApiService

<h1>@Group.Name</h1>
<button onclick="() => CallGroup()">Call</button>

@foreach (var message in Group.Chat.Messages)
{
	<h4>@message.Content</h4>
	@foreach(var file in message.Documents)
	{
		<h3 style="cursor: pointer" @onclick="() => DownloadFile(file.Id, file.MessageId, file.Name)">@file.Name</h3>

	}
}

<input type="text" @bind="Message" />
<button @onclick="SendMessage">Send</button>

<InputFile @key=@(inputFileKey) OnChange="HandleFileSelection" multiple />

@code {

	[Parameter]
	public Group Group { get; set; }

	[Parameter]
	public int UserId { get; set; }

	[Parameter]
	public EventCallback<MessageStorageDto> OnSendMessage { get; set; }

	[Parameter]
	public EventCallback<DownloadFileRequestDto> OnDownloadFile { get; set; }

	[Parameter]
	public EventCallback<int> OnCallGroup { get; set; }

	private string Message { get; set; } = string.Empty;
	private string inputFileKey { get; set; } = Guid.NewGuid().ToString();

	private List<IBrowserFile> SelectedFiles { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Group.Chat.Messages = Group.Chat.Messages.OrderBy(m => m.Date).ToList();
	}

	private async Task SendMessage()
	{
		List<Document> documents = new();
		foreach (var file in SelectedFiles)
		{
			documents.Add(new Document()
				{
					Name = file.Name,
					UniqueIdentifier = string.Empty

				});
		}
		Group.Chat.Messages.Add(new Message()
			{
				Content = Message,
				UserId = UserId,
				ChatId = Group.ChatId,
				Date = DateTime.Now,
				Documents = documents
			});
		await OnSendMessage.InvokeAsync(new MessageStorageDto(UserId, nameof(Group), Group.ChatId, Message, SelectedFiles));

		Message = string.Empty;
	}

	private async Task DownloadFile(int fileId, int messageId, string fileName)
	{
		if (fileId > 0) await OnDownloadFile.InvokeAsync(new DownloadFileRequestDto(fileId, messageId, fileName));
	}

	private void HandleFileSelection(InputFileChangeEventArgs e)
	{
		var files = e.GetMultipleFiles().ToList();
		foreach (var file in files)
		{
			if (SelectedFiles.Any(f => f.Name == file.Name)) SelectedFiles.RemoveAll(f => f.Name == file.Name);
			SelectedFiles.Add(file);
		}
		inputFileKey = Guid.NewGuid().ToString();
	}


	private async Task CallGroup()
	{
		await OnCallGroup.InvokeAsync(Group.ChatId);
	}
}
