@page "/loginSignup"
@inject AuthApiService AuthApiService
@inject NavigationManager NavigationManager

<input type="text" placeholder="Username" @bind="email"/>
<input type="password" placeholder="Password" @bind="password"/>
<p>@errorMessage</p>
<p>@token</p>
<button @onclick="LoginType">Login</button>

@code {
    private string email { get; set; } = string.Empty;
    private string password { get; set; } = string.Empty;
    private string? token { get; set; } = string.Empty; 
    private string errorMessage { get; set; } = string.Empty;

    private async Task LoginType()
    {
        try
        {
            token = await AuthApiService.LoginAsync(email, password);
            if (!string.IsNullOrEmpty(token))
            {
                await TokenService.SaveTokenAsync(token);
				NavigationManager.NavigateTo("/chat", replace: true);
            }
            else throw new Exception("Invalid login");
        }
        catch (Exception ex)
        {
			errorMessage = ex.Message;
        }
    }
}
