@inject AuthApiService AuthApiService

    <div class="container-lg">
        <nav class="flex-column"> 

            @foreach (var group in Groups)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" @onclick="() => OnGroupSelected.InvokeAsync(group)">
                        @group.Name
                    </a>
                </li>

            }
            @foreach (var contact in Contacts)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" @onclick="() => OnContactSelected.InvokeAsync(contact)">
                        @contact.AssociatedUser.Name
                    </a>
                </li>
            }
         </nav>
     </div>


@code{
    [Parameter]
    public List<Group> Groups { get; set; } = new List<Group>();

    [Parameter]
    public List<Contact> Contacts { get; set; } = new List<Contact>();

    [Parameter]
    public EventCallback<Group> OnGroupSelected { get; set; }

    [Parameter]
    public EventCallback<Contact> OnContactSelected { get; set; }
}
