@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject AuthApiService AuthApiService
@inject ChatApiService ChatApiService
@inject GroupApiService GroupApiService
@inject ContactApiService ContactApiService
@inject MessageRepository MessageRepository
@inject SecureStorageService SecureStorageService
@inject IJSRuntime JSRuntime



@if (user != null)
{
    @if (isCallingRequest)
    {
        <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px;">
            <CallRequest Call="callRequest" OnAccept="AcceptCall" OnReject="RejectCall"></CallRequest>
        </div>
    }

    @if (isCalling)
    {
        <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px;">
            <CallingPage Call="userCall" OnCancel="CancelCall"></CallingPage>
        </div>
    }

    @if (isError)
    {
        <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: #f8d7da; color: #721c24; padding: 20px; border: 1px solid #f5c6cb; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center;">
            <div>@errorMessage</div>
            <button style="margin-top: 15px; padding: 10px 20px; background-color: #f5c6cb; color: #721c24; border: none; border-radius: 4px; cursor: pointer;"
            @onclick="() => isError = false">
                Ok
            </button>
        </div>
    }

    <div style="display: flex;">
        <div style="width:5%; text-align:center; margin-top: 30px;">
            <img class="img-action" src="images/chat.png" @onclick="OpenChat" />
            <img class="img-action" src="images/add-user.png" @onclick="OpenAddingContact" />
            <img class="img-action" src="images/add-group.png" @onclick="OpenCreatingGroup" />
            <img class="img-action" src="images/logout.png" @onclick="ExitUserPage" />
        </div>

        @if (isChatOpened)
        {
            <div style="width:20%; text-align:center">
                <NavMenu Groups="user.Groups" Contacts="user.Contacts" OnGroupSelected="HandleGroupSelected" OnContactSelected="HandleContactSelected" />
            </div>
        }

        <div style="width:70%; padding-left:5%">
            @if (isGroupCreating)
            {
                <CreateGroupPage OnCreateGroup="CreateGroup"></CreateGroupPage>
            }

            @if (isAddingContactOpened)
            {
                <AddContactPage Users="users" OnAddContact="CreateContact"></AddContactPage>
            }

            @if (isChatOpened)
            {
                @if (isGroupOpened)
                {
                    <GroupChat Group="selectedGroup" OnAddUser="AddUserToGroup" OnCallGroup="CallGroup" OnDownloadFile="DownloadFile"
                    OnSendMessage="SendMessage" OnAddAdmin="AddAdmin" Contacts="user.Contacts" UserId="user.Id" OnRemoveUserFromGroup="RemoveUserFromGroup"
                    OnDeleteDocument="RemoveDocument" OnDeleteMessage="RemoveMessage" OnUpdateMessage="UpdateMessage" OnLeaveGroup="LeaveGroup" />
                }
                @if (isContactOpened)
                {
                    <ContactChat Contact="selectedContact" UserId="user.Id" OnCallUser="CallUser" OnDownloadFile="DownloadFile" OnRemoveContact="RemoveContact"
                    OnSendMessage="SendMessage" OnDeleteDocument="RemoveDocument" OnDeleteMessage="RemoveMessage" OnUpdateMessage="UpdateMessage" />
                }
            }
        </div>
    </div>
}



@code {
    [Parameter]
    public EventCallback OnLogout { get; set; }


    private bool isChatOpened { get; set; } = true;
    private bool isGroupOpened { get; set; }
    private bool isContactOpened {get;set ; }
    private bool isGroupCreating { get; set; }
    private bool isAddingContactOpened { get; set; }
    private bool isCallingRequest { get; set; }
    private bool isCalling { get; set; }
    private bool isError { get; set; }

    private int selectedGroupId { get; set; }
    private int selectedContactId { get; set; }

    private Group? selectedGroup { get; set; }
    private Contact? selectedContact { get; set; }
    private CallInfo? callRequest { get; set; }
    private CallInfo? userCall { get; set; }

    private readonly string serverUrl = "http://localhost:5207/chatHub";
    private string token { get; set; } = string.Empty;
    private string errorMessage { get; set; } = string.Empty;


    private User user { get; set; }
    private List<User> users { get; set; } = new List<User>();
    private HubConnection hubConnection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        token = await SecureStorageService.GetTokenAsync() ?? string.Empty;
        if (string.IsNullOrEmpty(token))
        {
            await OnLogout.InvokeAsync();
            return;
        }


        var userResponse = await AuthApiService.GetUserAsync(token);
        if (!userResponse.IsSuccess || userResponse.Data == null)
        {
            await OnLogout.InvokeAsync();
            return;
        }
        else user = userResponse.Data;



        hubConnection = new HubConnectionBuilder()
            .WithUrl(serverUrl, options =>
            {
                options.AccessTokenProvider = () => Task.FromResult<string?>(token);
            })
        .Build();
        await hubConnection.StartAsync();

        if (hubConnection.State != HubConnectionState.Connected)
        {
            await OnLogout.InvokeAsync();
            return;
        }



        var unsavedMessages = await MessageRepository.GetUnsentMessagesAsync();
        foreach (var message in unsavedMessages)
        {
            if (message.UserId == user.Id) await SendMessage(message);
        };



        hubConnection.On<Message>("OnReceiveMessage", async (message) =>
        {
            if(selectedGroup == null || (selectedGroup.ChatId != message.ChatId))
            {
                Group? group = user.Groups.FirstOrDefault(g => g.ChatId == message.ChatId);
                if (group != null)
                {
                    group.UnviewedMessages++;
                    group.DateTime = DateTime.Now;
                    await InvokeAsync(StateHasChanged);
                }
            }

            if (selectedContact == null || (selectedContact.ChatId != message.ChatId))
            {
                Contact? contact = user.Contacts.FirstOrDefault(g => g.ChatId == message.ChatId);
                if (contact != null)
                {
                    contact.UnviewedMessages++;
                    contact.DateTime = DateTime.Now;
                    await InvokeAsync(StateHasChanged);
                }
            }

            if (selectedGroup != null && selectedGroup.ChatId == message.ChatId)
            {
                selectedGroup.Chat.Messages.Add(message);
                selectedGroup.DateTime = DateTime.Now;
                await InvokeAsync(StateHasChanged);
            }

            else if (selectedContact != null && selectedContact.ChatId == message.ChatId)
            {
                selectedContact.Chat.Messages.Add(message);
                selectedContact.DateTime = DateTime.Now;
                await InvokeAsync(StateHasChanged);
            }
        });


        hubConnection.On<int, int>("OnRemoveMessage", async (chatId, messageId) =>
        {
            if(selectedContact != null && selectedContact.ChatId == chatId)
            {
                Message? message = selectedContact.Chat.Messages.FirstOrDefault(m => m.Id == messageId);
                if (message != null)
                {
                    selectedContact.Chat.Messages.Remove(message);
                    await InvokeAsync(StateHasChanged);
                }
            }
            else if (selectedGroup != null && selectedGroup.ChatId == chatId)
            {
                Message? message = selectedGroup.Chat.Messages.FirstOrDefault(m => m.Id == messageId);
                if (message != null)
                {
                    selectedGroup.Chat.Messages.Remove(message);
                    await InvokeAsync(StateHasChanged);
                }
            }
        });



        hubConnection.On<Message>("OnUpdateMessage", async (message) =>
        {
            if (selectedContact != null && selectedContact.ChatId == message.ChatId)
            {
                Message? messageOld = selectedContact.Chat.Messages.FirstOrDefault(m => m.Id == message.Id);
                if (messageOld != null)
                {
                    selectedContact.Chat.Messages.Remove(messageOld);
                    selectedContact.Chat.Messages.Add(message);
                    selectedContact.Chat.Messages = selectedContact.Chat.Messages.OrderBy(m => m.Date).ToList();
                    await InvokeAsync(StateHasChanged);
                }
            }
            else if (selectedGroup != null && selectedGroup.ChatId == message.ChatId)
            {
                Message? messageOld = selectedGroup.Chat.Messages.FirstOrDefault(m => m.Id == message.Id);
                if (messageOld != null)
                {
                    selectedGroup.Chat.Messages.Remove(messageOld);
                    selectedGroup.Chat.Messages.Add(message);
                    selectedGroup.Chat.Messages = selectedGroup.Chat.Messages.OrderBy(m => m.Date).ToList();
                    await InvokeAsync(StateHasChanged);
                }
            }
        });


        hubConnection.On<int, int, int>("OnRemoveDocument", async (documentId, messageId, chatId) =>
        {
            if (selectedContact != null && selectedContact.ChatId == chatId)
            {
                Message? message = selectedContact.Chat.Messages.FirstOrDefault(m => m.Id == messageId);
                if (message != null)
                {
                    selectedContact.Chat.Messages.Remove(message);
                    message.Documents.RemoveAll(d => d.Id == documentId);
                    selectedContact.Chat.Messages.Add(message);
                    await InvokeAsync(StateHasChanged);
                }
            }

            if (selectedGroup != null && selectedGroup.ChatId == chatId)
            {
                Message? message = selectedGroup.Chat.Messages.FirstOrDefault(m => m.Id == messageId);
                if (message != null)
                {
                    selectedGroup.Chat.Messages.Remove(message);
                    message.Documents.RemoveAll(d => d.Id == documentId);
                    selectedGroup.Chat.Messages.Add(message);
                    await InvokeAsync(StateHasChanged);
                }
            }
        });



        hubConnection.On<int>("OnReceiveUserCall", async (userId) =>
        {
            if (isCallingRequest) return;

            Contact? contact = user.Contacts.FirstOrDefault(c => c.AssociatedUserId == userId);
            if (contact == null) return;

            callRequest = new CallInfo()
            {
				UserId = userId,
                UniqueName = contact.AssociatedUser.UniqueName,
                UserName = contact.AssociatedUser.Name
            };
            isCallingRequest = true;
            await InvokeAsync(StateHasChanged);
        });


        hubConnection.On<int, string>("OnReceiveGroupCall", async (chatId, zoomUrl) =>
        {
            if (isCallingRequest) return;
            string? groupName = user.Groups.FirstOrDefault(g => g.ChatId == chatId)?.Name;
            if (string.IsNullOrEmpty(groupName)) return;

            callRequest = new CallInfo() { GroupName = groupName, ZoomUrl = zoomUrl};

            isCallingRequest = true;
            await InvokeAsync(StateHasChanged);
        });


        hubConnection.On<int>("OnRejectAnswer", async (userId) =>
        {
            if (callRequest != null && callRequest.UserId != userId) return;
            CloseCalling();
            await InvokeAsync(StateHasChanged);
        });


        hubConnection.On<string>("OnReceiveAnswer", async (identity) =>
        {
            CloseCalling();
            await InvokeAsync(StateHasChanged);
            await Launcher.OpenAsync($"http://localhost:8080?callerUserId={identity}&token={user.AzureToken}");
        });


        hubConnection.On<int>("OnCancelCall", async (userId) =>
        {
            if (callRequest != null && userId == callRequest.UserId)
            {
                CloseCallRequest();
                await InvokeAsync(StateHasChanged);
            }
        });


        hubConnection.On<User>("OnAddUserToChat", async (user) =>
        {
            if (selectedGroup != null)
            {
                selectedGroup.Users.Append(user);
                await InvokeAsync(StateHasChanged);
            }
        });


        hubConnection.On<Group>("OnAddGroup", async (group) =>
        {
            user.Groups.Add(group);
            await hubConnection.SendAsync("SubscribeChat", group.ChatId);
            await InvokeAsync(StateHasChanged);
        });


        hubConnection.On<Contact>("OnAddContact", async (contact) =>
        {
            await hubConnection.SendAsync("SubscribeChat", contact.ChatId);
            user.Contacts.Add(contact);
            await InvokeAsync(StateHasChanged);
        });


        hubConnection.On<int, int>("OnRemoveUserFromGroup", async (userId, chatId) =>
        {
            if (user.Id == userId) return;
            if (selectedGroup != null && selectedGroup.ChatId == chatId)
            {
                User? user = selectedGroup.Users.FirstOrDefault(u => u.Id == userId);
                if (user != null)
                {
                    selectedGroup.Users.Remove(user);
                    selectedGroup.Admins.Remove(user);
                    await InvokeAsync(StateHasChanged);
                }
            }
        });


        hubConnection.On<int>("OnRemoveChat", async (chatId) =>
        {
            Group? group = user.Groups.FirstOrDefault(g => g.ChatId == chatId);
            if (group != null)
            {
                if (selectedGroup != null && selectedGroup.ChatId == chatId)
                {
                    isGroupOpened = false;
                    selectedGroup = null;
                    user.Groups.RemoveAll(g => g.ChatId == chatId);
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    user.Groups.Remove(group);
                    await InvokeAsync(StateHasChanged);
                }
                return;
            }

            Contact? contact = user.Contacts.FirstOrDefault(c => c.ChatId == chatId);
            if (contact != null)
            {
                if (selectedContact != null && selectedContact.ChatId == chatId)
                {
                    isContactOpened = false;
                    selectedContact = null;
                    user.Contacts.RemoveAll(c => c.ChatId == chatId);
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    user.Contacts.Remove(contact);
                    await InvokeAsync(StateHasChanged);
                }
                return;
            }

            await hubConnection.SendAsync("UnsubscribeChat", chatId);
        });
    }



    private async Task ExitUserPage()
    {
        await hubConnection.DisposeAsync();
        await OnLogout.InvokeAsync();
    }


    private async Task HandleGroupSelected(Group group)
    {
        var result = await ChatApiService.GetGroupAsync(group.Id, token);
        if (!result.IsSuccess)
        {
            errorMessage = result.ErrorMessage ?? "Error";
            isError = true;
            return;
        }
        selectedGroupId = group.Id;
        selectedContactId = 0;

        selectedGroup = result.Data;
        group.UnviewedMessages = 0;

        if (selectedGroup == null)
        {
            await ExitUserPage();
            return;
        }
        isContactOpened = false;
        isGroupOpened = true;
        isChatOpened = true;
        selectedContact = null;
        await InvokeAsync(StateHasChanged);
    }


    private async Task HandleContactSelected(Contact contact)
    {
        var result = await ChatApiService.GetContactAsync(contact.AssociatedUserId, token);
        if (!result.IsSuccess)
        {
            errorMessage = result.ErrorMessage ?? "Error";
            isError = true;
            return;
        }
        selectedContactId = contact.Id;
        selectedGroupId = 0;
        selectedContact = result.Data;
        contact.UnviewedMessages = 0;

        if (selectedContact == null)
        {
            await ExitUserPage();
            return;
        }
        isGroupOpened = false;
        isContactOpened = true;
        isChatOpened = true;
        selectedGroup = null;
        await InvokeAsync(StateHasChanged);
    }


    private async Task CreateGroup(GroupCreateDto groupCreate)
    {
        var result = await GroupApiService.CreateGroupAsync(groupCreate, token);
        if (!result.IsSuccess)
        {
            errorMessage = "Group wasn't created";
            isError = true;
            return;
        }
        Group? group = result.Data;
        if (group != null)
        {
            user.Groups.Add(group);
            await HandleGroupSelected(group);
            await OpenChat();
            await InvokeAsync(StateHasChanged);
        }
    }


    private async Task CreateContact(int userId)
    {
        var result = await ContactApiService.CreateContactAsync(userId, token);
        if (!result.IsSuccess)
        {
            errorMessage = "Contact wasn't created";
            isError = true;
            return;
        }
        Contact? contact = result.Data;
        if (contact != null)
        {
            user.Contacts.Add(contact);
            await HandleContactSelected(contact);
            await hubConnection.SendAsync("SubscribeChat", contact.ChatId);
            await hubConnection.SendAsync("CreateContact", userId, contact);
            await OpenChat();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task RemoveUserFromGroup(int userId)
    {
        if (selectedGroup == null) return;
        var response = await GroupApiService.RemoveUserFromGroup(selectedGroup.Id, userId, token);
        if (!response.IsSuccess)
        {
            errorMessage = "User wasn't removed";
            isError = true;
            return;
        }
        bool result = response.Data;
        if (result)
        {
            await hubConnection.SendAsync("RemoveUserFromGroup", userId, selectedGroup.ChatId);
            selectedGroup.Users.Remove(user);
            selectedGroup.Admins.Remove(user);
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task LeaveGroup()
    {
        if (selectedGroup == null) return;
        var response = await GroupApiService.LeaveGroup(selectedGroup.Id, token);
        if (!response.IsSuccess)
        {
            errorMessage = "User wasn't removed";
            isError = true;
            return;
        }
        else
        {
            await hubConnection.SendAsync("RemoveUserFromGroup", user.Id, selectedGroup.ChatId);
            isGroupOpened = false;
            user.Groups.RemoveAll(g => g.ChatId == selectedGroup.ChatId);
            selectedGroup = null;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task RemoveContact()
    {
        if(selectedContact == null) return;
        var response = await ContactApiService.RemoveContact(selectedContact.ChatId, token);
        if (!response.IsSuccess)
        {
            errorMessage = "Contact wasn't removed";
            isError = true;
            return;
        }
        else
        {
            await hubConnection.SendAsync("RemoveContact", selectedContact.AssociatedUserId, selectedContact.ChatId);
            isContactOpened = false;
            user.Contacts.RemoveAll(c => c.ChatId == selectedContact.ChatId);
            selectedContact = null;
            await InvokeAsync(StateHasChanged);
        }
    }


    private async Task SendMessage(MessageStorageModel messageStorageDto)
    {

        if (messageStorageDto.Id == 0) messageStorageDto = await MessageRepository.AddMessage(messageStorageDto);

        var response = await ChatApiService.CreateMessageAsync(messageStorageDto, messageStorageDto.Files, token);
        if (!response.IsSuccess)
        {
            if (response.StatusCode < 500) await MessageRepository.RemoveMessage(messageStorageDto.Id);
            if (string.IsNullOrEmpty(messageStorageDto.Content)) await MessageRepository.RemoveMessage(messageStorageDto.Id);
            return;
        }
        Message? message = response.Data;

        await MessageRepository.RemoveMessage(messageStorageDto.Id);

        if (hubConnection.State == HubConnectionState.Connected && message != null)
        {
            await hubConnection.SendAsync("SendMessage", message);

            if (selectedGroup != null && selectedGroup.ChatId == message.ChatId)
            {
                Message? updatedMessage = selectedGroup.Chat.Messages
                    .Where(m => m.UserId == message.UserId && m.Content.Equals(message.Content) && m.ChatId == message.ChatId)
                    .OrderByDescending(m => m.Date)
                    .FirstOrDefault();
                if (updatedMessage != null) selectedGroup.Chat.Messages.Remove(updatedMessage);
                selectedGroup.Chat.Messages.Add(message);
                selectedGroup.DateTime = DateTime.Now;
                await InvokeAsync(StateHasChanged);
            }
            else if (selectedContact != null && selectedContact.ChatId == message.ChatId)
            {
                Message? updatedMessage = selectedContact.Chat.Messages
                    .Where(m => m.UserId == message.UserId && m.Content.Equals(message.Content) && m.ChatId == message.ChatId)
                    .OrderByDescending(m => m.Date)
                    .FirstOrDefault();
                if (updatedMessage != null) selectedContact.Chat.Messages.Remove(updatedMessage);
                selectedContact.Chat.Messages.Add(message);
                selectedContact.DateTime = DateTime.Now;
                await InvokeAsync(StateHasChanged);
            }
        }
        else return;
    }

    private async Task UpdateMessage(MessageStorageModel documentMessageChatId)
    {
        if (!string.IsNullOrEmpty(documentMessageChatId.UniqueIdentifier)) await MessageRepository.UpdateMessage(documentMessageChatId);
        else
        {
            var response = await ChatApiService.UpdateMessageAsync(documentMessageChatId, token);
            if (!response.IsSuccess)
            {
                errorMessage = "Message wasn't updated";
                isError = true;
                return;
            }
            Message? message = response.Data;
            if (message != null) await hubConnection.SendAsync("UpdateMessage", message);
        }
    }


    private async Task RemoveMessage(DocumentMessageChatId documentMessageChatId)
    {
        if (!string.IsNullOrEmpty(documentMessageChatId.UniqueIdentifier)) await MessageRepository.RemoveMessage(documentMessageChatId.UniqueIdentifier);
        else
        {
            await MessageRepository.RemoveMessage(documentMessageChatId.MessageId);
            var response = await ChatApiService.DeleteMessageAsync(documentMessageChatId.MessageId, token);
            if (!response.IsSuccess)
            {
                errorMessage = "Message wasn't removed";
                isError = true;
                return;
            }
            if (response.IsSuccess) await hubConnection.SendAsync("RemoveMessage", documentMessageChatId.ChatId, documentMessageChatId.MessageId);
        }
    }


    private async Task RemoveDocument(DocumentMessageChatId documentMessageChatId)
    {
        var response = await ChatApiService.DeleteDocumentAsync(documentMessageChatId.DocumentId, token);
        if (!response.IsSuccess)
        {
            errorMessage = "Document wasn't removed";
            isError = true;
            return;
        }
        if (response.IsSuccess) await hubConnection.SendAsync("DeleteDocument", documentMessageChatId.DocumentId, documentMessageChatId.MessageId, documentMessageChatId.ChatId);
    }



    public async Task AddUserToGroup(int userId)
    {
        if(selectedGroup != null)
        {
            var response = await GroupApiService.AddUserToChatAsync(userId, selectedGroup.Id, token);
            if (!response.IsSuccess)
            {
                errorMessage = "User wasn't added";
                isError = true;
                return;
            }
            User? user = response.Data;
            if (user != null) await hubConnection.SendAsync("AddUserToChat", user, selectedGroup);
        }
    }


    public async Task AddAdmin(int userId)
    {
        if (selectedGroup != null)
        {
            var response = await GroupApiService.AddAdminAsync(userId, selectedGroup.Id, token);
            if (!response.IsSuccess)
            {
                errorMessage = "Admin wasn't added";
                isError = true;
                return;
            }
        }
    }


    public async Task DownloadFile(DownloadFileRequestDto downloadFileDto)
    {
        var response = await ChatApiService.DownLoadFileAsync(downloadFileDto.FileName, downloadFileDto.MessageId, downloadFileDto.DocumentId, token);
        if (!response.IsSuccess)
        {
            errorMessage = "File wasn't downloaded";
            isError = true;
            return;
        }
        DownloadFileResponseDto? downloadFileResponseDto = response.Data;

        if (downloadFileResponseDto == null) return;

        await JSRuntime.InvokeVoidAsync(
           "blazorDownloadFile",
           downloadFileResponseDto.FileName,
           downloadFileResponseDto.ContentType,
           Convert.ToBase64String(downloadFileResponseDto.File)
        );
    }


    public async Task CallUser(int callerUserId)
    {
        if (!isCalling)
        {
            isCalling = true;
            string userName = user.Contacts.FirstOrDefault(c => c.AssociatedUserId == callerUserId)?.AssociatedUser.Name ?? string.Empty;
            if (string.IsNullOrEmpty(userName)) return;
            userCall = new CallInfo() { UserId = callerUserId, UserName = userName };
            await hubConnection.SendAsync("CallUser", user.Id, callerUserId);
            await InvokeAsync(StateHasChanged);
        }

    }


    public async Task CallGroup(int chatId)
    {
        if (!isCallingRequest)
        {
            await hubConnection.SendAsync("CallGroup", chatId, user.ZoomUrl);
            await Launcher.OpenAsync(user.ZoomUrl);
        }
    }



    public async Task AcceptCall(CallInfo call)
    {
        CloseCallRequest();
        if (!string.IsNullOrEmpty(call.ZoomUrl)) await Launcher.OpenAsync(call.ZoomUrl);
        else
        {
			try
			{
                await hubConnection.SendAsync("AnswerCall", call.UserId, user.AzureIdentity);
                await Launcher.OpenAsync($"http://localhost:8080?token={user.AzureToken}");
			}
			catch (Exception ex)
			{
				errorMessage = "Happaned error during calling";
				isError = true;
			}

        }
        await InvokeAsync(StateHasChanged);
    }


    public async Task RejectCall(CallInfo call)
    {
        CloseCallRequest();
        if(string.IsNullOrEmpty(call.ZoomUrl)) await hubConnection.SendAsync("RejectCall", user.Id, call.UserId);
        await InvokeAsync(StateHasChanged);
    }



    public async Task CancelCall(CallInfo call)
    {
        await hubConnection.SendAsync("CancelCall", user.Id, call.UserId);
        CloseCalling();
    }


    public void CloseCallRequest()
    {
        isCallingRequest = false;
        callRequest = null;
    }



    public void CloseCalling()
    {
        isCalling = false;
        userCall = null;
    }


    public async Task OpenCreatingGroup()
    {
        isAddingContactOpened = false;
        isChatOpened = false;
        isGroupCreating = true;
        await InvokeAsync(StateHasChanged);
    }


    public async Task OpenAddingContact()
    {
        var response = await AuthApiService.GetUsersAsync();
        if (!response.IsSuccess)
        {
            errorMessage = "Users weren't loaded";
            isError = true;
            return;
        }
		users = response.Data ?? new List<User>();
        if (users == null) return;
		users.RemoveAll(u => user.Contacts.Any(c => c.AssociatedUserId == u.Id) || u.Id == user.Id);

        isAddingContactOpened = true;
        isChatOpened = false;
        isGroupCreating = false;
        await InvokeAsync(StateHasChanged);
    }


    public async Task OpenChat()
    {
        isAddingContactOpened = false;
        isChatOpened = true;
        isGroupCreating = false;
        await InvokeAsync(StateHasChanged);
    }


    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null) await hubConnection.DisposeAsync();
    }
}