.img-action {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}

.img-action:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

