@inject AuthApiService AuthApiService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Office Communicator</a>
    </div>
</div>

<div class="nav-scrollable w-30" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="container-lg">
        <nav class="flex-column">

            @foreach (var group in Groups)
            {
                <div class="nav-item px-3" style="font-size: 1rem;">
                    <NavLink class="nav-link" href=@($"group/{group.Id}") Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @group.Name
                    </NavLink>
                </div>
            }

            @foreach (var contact in Contacts)
            {
                <div class="nav-item px-3" style="font-size: 1rem;">
                    <NavLink class="nav-link" href=@($"contact/{contact.Id}") Match="NavLinkMatch.All">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @contact.AssociatedUser.Name
                    </NavLink>
                </div>
            }
        </nav>
    </div>
</div>


@code{
    [Parameter]
    public List<Group> Groups { get; set; }

    [Parameter]
    public List<Contact> Contacts { get; set; }
}
